

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn {
	font-family: 'Lato', sans-serif;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: transparent;
	border-radius: 0;

}
.btn-primary{
	background-color: #ed1c24;
	background-image: none;
    text-transform: uppercase;
}
.btn-primary:hover{
	background-image: none;
	background-color: #000;
	color: #ed1c24;

}
.btn-secondary{
	background-color: #605f60;
	background-image: none;
	color: #dfdfdf;
    text-transform: uppercase;
}
.btn-secondary:hover{
	background-color: #dfdbdb;
	background-image: none;
	color: #000;
}
.btn-big{
	font-size: 46px;
	font-weight: 300;
	padding: 0px 15px 0px 15px!important;
	height: 63px;
}
.btn-lg{

}
.btn-sm{

}
.btn-xs{

}
.btn-primary:active, .btn-primary.active, a.btn-primary:hover{
    background-color: #000;
    color: #ed1c24;
}
.btn-primary:visited{
    background-color: #ed1c24;
    color: #fff;
}

.main-slogan .btn-big{
	padding-top:20px!important; padding-bottom:20px!important;	height:inherit;	font-size: 28px; 	width: 100%; position:relative; white-space:pre-wrap; line-height:26px;}
.btn-primary:hover, .btn-primary:focus{    background-color: #000;}
.main-slogan a.btn-big span {font-size:12px; font-weight:500; position:absolute; bottom:0; left:0; right:0;}
.form-horizontal .btn-login, .form-horizontal .btn-signup, .buttons-col .btn {
    padding: 8px;
    font-size: 32px;
    font-weight: 100;
    width: 100%;
}
.buttons-col .btn{
    margin: 20px 0 0;
}

.contact-form .btn-row{
    padding-left: 12px;
}
.agent-signup-body .contact-form .btn-row{
    padding-left: 0px;
}












