/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ====== Bootstrap 3 Sticky Footer ====== */

html {
    position: relative;
    min-height: 100%;
}

body { /* reserved for footer height - 160px */ overflow-x: hidden;
}
/* ============ end of footer main ============ */

/* FORM BuySellLease BOX ========*/
.red-head{
    color: #ed1c24;
}
.sidebar{
    margin: 20px 0;
}
.container .sidebar ul{
    margin-left: -40px;
}
.sidebar li{
    list-style: none;
    font-size: 20px;
    padding-bottom: 6px;
}
.sidebar li.active a{
    color: #ea4249;
}
.sidebar li a{
    color: #000;
}
.sidebar li a:hover{
    color: #ea4249;
}
.sidebar li i{
    font-size: 20px;
    margin-left: -23px;
    margin-right: 3px;
    color: #ea4249;

}
.form_box .input-group-lg {
    margin: 0 14px -5px 12px;
}

.form_box .input-group-lg > .form-control {
    height: 40px;
}

.container ul {
    margin-left: -23px;
}

a {
    color: #a72c32;
}

a:hover {
    color: #ed1c24;
    text-decoration: none;
}

a:hover > h3 {
    color: #605f60;
}

.special-deals {
    background-color: #dfdbdb;
    margin-top: 20px;
}

.special-deals .row {
    margin: 15px 0 0 0;
}

.special-deals .container .special-row {
    margin-left: -15px;
    margin-right: -30px
}

.points-icons a:hover {
    text-decoration: none;
}

.points-icons h4 {
    height: 42px;
    text-align: center;
}
.points-icons p{
    text-align: center;
}
.main-slogan{
    margin: 0 0 0 -15px;
    /*padding: 0;*/
}
.default-transparent{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.89);
    padding: 30px 20px;
}
hr {
    margin-top: 0px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #dfdbdb;
}

.main-slogan p {
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    padding-right: 15px;
}
.main-slogan .col-md-4 p { padding-right:0;}

.points-icons {
    margin: 20px 10px 20px -15px;
}

.points-icons .col-md-2, .points-icons img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.special-header {
    float: left;
}

.special-header h1, .special-header h2, .special-header h3 {
    padding: 0 15px 0 0;
    margin: 0;
}

.special-header p {
    padding: 3px 0 0 0;
}

.special-deals .btn {
    float: right;
}

.special-row .img-responsive {
    width: 100%;
}

.img-responsive img {
    width: 100%;
}

.special-row img {
    margin-bottom: 20px;
}

.head-row p {
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
}
.contact-form{
    padding: 0 0px 0 20px;
    margin-top: -5px;
}
.contact-col {

    padding: 0 0 30px 0;
}

.about-us-body .row h4{
    margin-top: 0;
    padding-top: 0;
}
.termsofuse-body ol{
    list-style: lower-alpha;

}
.subscribersterms-body .subscribers-content .decimal-list{
    margin-left: 0px;

}
.decimal-list ol {
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.decimal-list ol > li {
    display: table;
    counter-increment: item;
    margin:0;
    font-size: 16px;
}

.decimal-list ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

.decimal-list li ol > li {
    margin: 0;
}

.decimal-list li ol > li:before {
    content: counters(item, ".") " ";
}
.subscribersterms-body .subscribers-content .sublist{
    margin-left: -20px;
    font-size: 14px;
}
.decimal-list .sub4{
    list-style-type: lower-alpha;
    font-weight: bold;
    margin: 6px 0 6px -20px;
}
.decimal-list .sub3{
    list-style-type: lower-alpha;
    font-weight: normal;
    margin: 6px 0 6px -20px;
    font-size: 14px;
}
.decimal-list .num-list li{
    list-style: decimal;
    font-size: 14px;
}
/* ================ LIST ITEMS VIEW  =================== */
.list-sort {
    padding-bottom: 2px;
    min-height: 50px; clear:both;
}

.head-row .disp-icons {
    position: absolute;
    top: 0;
    right: 15px;
}

.disp-btn {
    display: inline;
}

.disp-btn .glyphicon {
    height: 40px;
    background-color: #605f60;
    font-size: 18px;
    padding: 11px 17px 0;
}

.disp-btn .glyphicon:hover {
    background-color: #9d9b9c;
}

.disp-btn a {
    color: #fff;
}

.disp-icons .active {
    background-color: #ed1c24;
	color:#fff;
}

.lab-where, .lab-type, .lab-price {
    float: left;
    padding-right: 20px;
}

.lab-notif, .lab-on-off {
    float: right;
    padding-left: 15px;

}

.share-block .inline h6 {
    font-weight: 700;
    position: relative;
    top: -8px;
    right: 6px;
}

.lab-notif h5 {
    text-align: right;
    font-size: 17px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.lab-where p, .lab-type p, .lab-price p {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.lab-notif p {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    margin: -4px 0 0 0;
    padding: 0;
}

.container .item-row {
    padding: 0;
    margin: 20px 0px 3px;
    background-color: #dfdbdb;
}

.items-list {
    padding-bottom: 25px;
	/*min-height: 612px;*/
}

.item-row {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;

}

.company-bg, .gmap-bg {
    padding: 0;
    margin: 0;
}

.item-row .col-md-8, .item-row .col-md-2 {
    padding: 0;
    margin: 0;

}

.location-row {
    padding: 0 0 0 15px;
    margin: 0;
    z-index: 9;
	right:0;
    /*right: -20px;*/
    height:180px;
}

.img-gmap {
    float: right;
    padding: 0;
    margin: 0;
    /*width: 50%;*/
}

.img-gmap img {
    position: relative;
    /*right: 10px;*/
	right:0;
	height:60px; width:60px;
}

.company-data {
    float: left; background:#ccc;
    width:50%;
    height: 100%;
    display: table-cell; position:relative;
    text-align: center;
}
.nav > li.disp-btn > a:focus { background:none;}
.agents-data {float: left; background:#ccc;    height: 100%;    display: table-cell;    text-align: center;}
.view-detail-cls-wrap-agents-detail{ width:100%; text-align: center; position: absolute; bottom:10px;}
.agents-location-row { position:relative; min-height:180px;}
.agents-data img { margin:auto; top:0; right:0; left:0; bottom:0; position: absolute;}
.company-data img { position:absolute; margin:auto; left:0; right:0; bottom:0; top:0;}
.view-detail-cls-wrap { position:absolute; bottom:5px; right:5px; text-align:center;}
.company-data .seller-info {
    font-size: 11px;
    font-weight: 100;
    color: #fff;
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
}
.company-data .logo-box{
    display: block; background:#ccc;  height: 100%;   position: relative;
}
.logo-box img{ bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
	top:0;
   /* top: 25%;
    transform: translateY(-25%);*/
}
.info-row {    line-height:22px; /*display: table-row;*/ text-align: left; text-transform:uppercase; }
.seller-info .info-row { width:100%; float:left; margin:0; text-align:center;}

.logo-services { margin-bottom:10px; float:left; width:200px; height:170px;}
.detail-contact-holder { float:right;}
.pic-slider {float: left; height: 180px; margin-right: 10px; width: 270px;}
.details-item {
    width: 95%;
}
.pic-slider img {float:left; height: 180px; width: 270px;}
/*.details-item { float:left;}*/
.search-heading-holder { overflow:hidden;}
.search-heading-holder h4 {
    font-size: 17px;    color: #ed1c24;    margin-bottom: 10px;    height: 34px;    overflow: hidden; float:left; }
	.search-heading-holder h4:last-child { float:right; text-align:right;}
.details-item h4 { margin-right:60px;}
.details-item p {
    padding: 10px 15px 5px 10px;
    display: block;
    display: -webkit-box;
   /* height: 5em;*/
    font-size: 13px;
    line-height: 1.4em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-item {
    position: absolute;
    right: 0;
    bottom:-12px;
}

.view-item .faworite-ico {
    font-size: 30px;
}

.faworite-ico .glyphicon-heart-empty, .faworite-ico .glyphicon-heart {
    color: #ed1c24;
    padding-right: 6px;
}

.faworite-ico {
    position: relative;
    bottom: -10px;
}

.location-line {
    font-size: 12px;
    line-height: 13px;
    line-height: normal;
}

.details-item .properties-box {
    position: absolute;
    z-index: 10;
    width: 61px;
    height: 71px;
    background: url("../img/properties-bg.png") no-repeat;
    background-position: 0px 0px;
    background-size: 61px 71px;
    top: 15px;
    right: -22px;
    padding: 7px 5px 5px;
    color: #fff;
}
.properties-box-holder-wrap {position: absolute;
    z-index: 10;
    width: 61px;
    /*height: 71px;*/
	background:#9d9b9c ;
    /*background: url("../img/properties-bg.png") no-repeat; url("../img/bg-back-list-type.png") no-repeat*/
    background-position: 0px 0px;
	background-position:15px 20px;
    top:-5px;
	right:33.7%;
    padding: 7px 5px 5px !important; -moz-border-radius: 7px;
	/*Firefox*/
	-moz-border-bottom-left-radius: 7px;
	/*Safari, Chrome*/
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
    color: #fff;}
.properties-box-holder-wrap > div.bg-wrap-list-holder-sort-list { position:absolute;right: -3px;  top: -9px; width:auto;}
.properties-box-holder-wrap > div { float:left; width:100%;}
.properties-box-holder-wrap  span{ word-break: break-all; word-wrap: break-word;}
.prop-num {
    /*float: left; width:17px;*/ text-align:center;
}

.prop-ico {
    float: right;
    padding: 3px 3px 0 5px;
}

.guide-item {
    position: absolute;
    bottom: 5px;
    left: 280px;
    text-transform: uppercase;
}

.guide-item .glyphicon, .location-line .glyphicon {
    color: #ed1c24;
}

.see-pro {
    float: right;    padding-left: 15px;    padding-top: 2px; padding-right:0;}

.share-block .inline {
    display: inline-block;
}
.list-sort .right .share-block .see-pro .btn { width:240px;}
.see-pro .btn {
    width:auto;
    color: #fff;
    padding-top: 7px;
    margin-top: -2px;
}

.see-pro a:hover {
    color: #000;
    font-weight: 400;
}
.list-sort .share-block{/*right:15px;*/ right:13px;}
.list-sort .right .share-block{left:0px;}
.share-block {
    position: absolute;

    right: 0px;
    top: 7px;
}
.share-block a { margin:0 2px 0 0; display:inline-block;}
.fb-block {
    position: absolute;}
.pin-it-block {}
.link-in--block {}
.twtr-block {}
.g-pls-block {}
.sort-icons {
    position: relative;
    top: 7px;
    left: -10px;
}

.sort-btn .btn {
    padding: 4px 4px 6px;
}

.sort-btn .btn-secondary:hover {
    background-color: #ed1c24;
}

/* ============ ON/OFF checkbox style ==================== */

.onoffswitch {
    position: relative;
    width: 68px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #dfdbdb;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    font-family: "Asap", sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "NO";
    padding-left: 9px;
    background-color: #dfdbdb;
    color: #000;
}

.onoffswitch-inner:after {
    content: "YES";
    padding-right: 9px;
    background-color: #dfdbdb;
    color: #000;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 26px;
    margin: 0px;
    background: #2db16d;
    border: 2px solid #2db16d;
    border-radius: 20px;
    position: absolute;
    top: 3px;
    bottom: 0;
    right: 38px;
    height: 26px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.switch-labels {
    padding-left: 8px;
}

.switch .checkbox-inline {
    margin-left: 0;
    padding-left: 0;
}

.switch {
    padding-top: 0px;
    height: 40px;
    margin-bottom: 0px;
}

/* ================= END ON/OFF checkbox style ============= */

/* ===== INVISIBLE IMAGES===== */

.relationships-body .image-bg-fixed-height, .find-services-body .image-bg-fixed-height, .alerts-body .image-bg-fixed-height, .sales-and-leasing-body .image-bg-fixed-height, .cost-effective-body .image-bg-fixed-height, .focus-body .image-bg-fixed-height, .agent-signup-body .image-bg-fixed-height{
    display: none;
}

/* ================= custom forms view ==================== */
.form-control{
    border-color: #9d9b9c;
    box-shadow: none;
}
.form-control, .input-group-addon {
    border-radius: 0;
    border-color: #9d9b9c;
    background-color: transparent;
    background: transparent;
    color: #9d9b9c;
}
.input-group .form-control{
    background-color: #fff;
    color: #605f60;

}
.facebook-btn .btn{
    background-color: #3f67c0;
    color: #fff;
}
.gplus-btn .btn{
    background-color: #e84c3d;
    color: #fff;
}
.facebook-btn a>i, .gplus-btn a>i{
    position: absolute;
    left: 36px;
    margin-left: 0;
    margin-top: -1px;
    font-size: 33px;
    text-shadow: none;
    box-shadow: none;
}
.facebook-btn .btn, .gplus-btn .btn{
    width: 100%;
    padding: 20px 0 20px 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 300;
}
.input-group select {
    border-radius: 0;
    -moz-border-radius : 0;
    -webkit-border-radius: 0;
}

/* -=========== how it works section ======== */

.image-bg-fixed-height {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

.image-bg-fixed-height img {
    width: 100%;
}

.head-1-2, .head3 {
    padding: 0;
}

.head3 h3 {
    margin: 5px 0 20px 0;
    line-height: 34px;
}

.extra-cols .col-l {
    padding: 10px 15px 0 0;
}
.extra-cols .col-r {
    padding-left: 20px;
}

.head-1-2 h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.head-1-2 h2 {
    margin-bottom: 20px;
}
.links-cols li{
    list-style: none;  word-wrap: break-word;
}
.links-cols ul{
    margin: 25px 0 25px -40px;
}

/* ========== Login section ============= */

.user-login {
    /*min-height: 604px;*/
    padding-bottom: 15px;
}
.user-login .content{
    padding-top: 30px;
}
.form-horizontal .row{
    margin: 10px -1px;
}
.user-login .form-group{
    margin-bottom: 0;
    padding: 0 2px 0 2px;
    text-align:center;
}
.join-box .form-horizontal{
    padding: 0;
    margin: 0 0px 0 -10px;
}
.login-body{
    background: url("../img/bg-login.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.alerts-body{background: url("../img/bg-get-instant-alerts.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 150px;

}
.relationships-body{
    background: url("../img/bg-direct-relationships.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 150px;

}
.cost-effective-body{
    background: url("../img/bg-cost-effective.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.focus-body{
    background: url("../img/bg-focus-is-on-you.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 150px;
}
.contact-body{
    background: url("../img/bg-contact.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 20% 150px;
}
.sales-and-leasing-body{
    background: url("../img/bg-sales-and-leasing.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.find-services-body{background: url("../img/bg-find-services.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 150px;
}

.agent-signup-body{background: url("../img/bg-agent-signup.jpg") no-repeat top right;
    background-color: #000000;
}
.agent-signup-body .points-content{
    padding-bottom: 0;
}
.agent-signup-body .contact-form{
    padding-left: 0;
}
.agent-signup-body h1{
    margin-left: 15px;
    color: #fff;
}
.agent-signup-body .points-content .form-group{
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
}
.contact-body .contact-form h1{
    padding-left: 15px;

}
.address-row{
    height: 130px;
    padding: 0 20px;
    margin: 0 15px 40px 15px;
}
.default-transparent .col-sm-6{
    padding: 0 20px;
    margin: 0;

}
.sales-and-leasing-body .container ul{
    color: red;
}
.sales-and-leasing-body .container li{
    line-height: 10px;
}
.sales-and-leasing-body .container li p{
    line-height:14px;
    color: #000000;
    line-height: 10px;
}
.sales-and-leasing-body .address-box{
    margin-bottom: 20px;
}

.alerts-body .pict-col{
    padding-right: 0;
}
.points-content{
    padding-bottom: 300px;

}
.relationships-body .points-content{
    padding-bottom: 80px;

}
.user-login .panel-body .form-group ul{
    list-style: none;
    margin-left: -5px;
}
.panel-body {word-break: break-all;}
.user-login .panel-body .form-group .btn-primary{
    width: auto;
}
.user-login .login-box, .user-login .join-box{
    margin-top: 20px;
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 6px 0 6px;	    /*float: left;*/ float:none;   overflow: hidden;
}
.address-box .row{
    padding: 0;
    margin-top: -30px;
    margin-bottom: -30px;
}
.address-box {
    margin-bottom: 20px;
}
.user-login  .join-box{
    padding: 20px 6px 20px 0;
}
.join-box .panel-body{
    padding-top: 0;
    margin: 0 0px 0 2px;
}
.form-control {
    height: 42px;
    border-radius: 0px;
}
.input-group-addon{
    border: 0;
}
.form-group .glyphicon{
    font-size: 16px;
    padding: 14px 0 0;
    position: absolute;
    right: 30px;
    top: 5px;
    z-index: 99;
}
.buttons-col{
    padding: 0 30px 6px 10px;
}
::-webkit-input-placeholder {
    color: #9d9b9c!important;
    text-transform: uppercase!important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}

:-moz-placeholder { /* Firefox 18- */
    color: #9d9b9c!important;
    text-transform: uppercase!important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #9d9b9c;!important;
    text-transform: uppercase!important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #9d9b9c!important;
    text-transform: uppercase!important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.form-control:focus{
    border-color:#ed1c24;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(237, 28, 36, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(237, 28, 36, .6);
}
.divider1{
    text-align: center;
}
.divider1 h6{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #797979;
    padding: 10px 0 0 2px;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #dddcdb;
}

/* ============== CUSTOM CHECKBOX Style =============== */


input[type=checkbox],input[type=radio]{opacity:100;position:absolute;z-index:12;width:20px;height:20px;}
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus{outline:none !important;}
input[type=checkbox]+.lbl,input[type=radio]+.lbl{position:relative;z-index:11;display:inline-block;margin:5px 0;line-height:20px;min-height:14px;min-width:14px;font-weight:normal;}
.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] { margin-top:5px;}
input[type=checkbox]+.lbl.padding-16::before,input[type=radio]+.lbl.padding-16::before{margin-right:16px;}
input[type=checkbox]+.lbl.padding-12::before,input[type=radio]+.lbl.padding-12::before{margin-right:12px;}
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before{margin-right:10px;}
input[type=checkbox]+.lbl.padding-4::before,input[type=radio]+.lbl.padding-4::before{margin-right:4px;}
input[type=checkbox]+.lbl.padding-0::before,input[type=radio]+.lbl.padding-0::before{margin-right:0;}

input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before{
    font-family:fontAwesome;
    font-weight:normal;
    font-size:14px;
    color:#ed1c24;
    content:"\a0";
    background-color:#FAFAFA;
    border:1px solid #CCC;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius:5px;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    height:20px;
    line-height:20px;
    min-width:20px;
    margin-right:0;
    margin-top: -5px;
}
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{display:inline-block;content:'\f00c';background-color:#ccc;border-color:#adb8c0;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);}
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before{border-color:#383838;}
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before{box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before{background-color:#DDD !important;border-color:#CCC !important;box-shadow:none !important;color:#BBB;}
input[type=radio]+.lbl::before{border-radius:32px;font-family:Arial,Helvetica,sans-serif;font-size:36px;}
input[type=radio]:checked+.lbl::before{content:"\2022";}
.login-box .form-group .checkbox input, .contact-form .checkbox input{
    display: none;
}
.login-box .btn-link{
    position: relative;
    right: 10px;

}
.login-box .form-group .lbl{
    position: relative;
    left: -22px;

}
.radio label, .checkbox label {
    padding-left:20px;
}
.checkbox{
    float: left;
    width: 33%;
    margin-bottom: 10px;
}
#ans .input-group .input-group-addon { padding-left:5px;}
.checkbox{
    float: left;
    width: 100%;
}
.control-label .request, .control-label .like-to{
    display: none;
}
.btn-link {
    color: #000;
}
.btn-link:hover {
    color: #ed1c24;
}
.agent-info-body{
   background-color: #000000;
}
.input-group-addon { text-align:left; margin:10px;}
/* == */

.agent-info-body .navabar{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #dfdbdb;
    height: 70px;
    font-size: 30px;
    color: #ed1c24;
    text-align: center;
    padding: 15px 0 15px 0;
}
.agent-info-body .navabar:hover {
    cursor: pointer;
    background-color: #fff;
    background: url("../img/subscribe-now-hover.png") no-repeat top center;
}
#slideshow-mini {
    margin: 2px auto;
    position: relative;
    width: 398px;
    height: 70px;
    box-shadow: none;
}

#slideshow-mini > div {
    position: absolute;
    bottom: 10px;
}

/* ============= SEARCH RESULTS ================ */

.img-gmap {
   position: absolute;
    /*right:-15px;*/ right:0; width:40%;
    float: left;
    bottom: 6px; text-align:center;
}

#bpay-logo {
    height: 20px;
}
.grey-background-holder { background:#dfdbdb; width:100%; clear:both; overflow:hidden; margin:20px 0 0 0; position:relative; min-height:180px;}
h4>small { font-size:17px; color:hsl(358, 85%, 52%); text-transform:capitalize;}
a.view-professional-btn { background:#ed1c24; padding:8px 9px; color:#fff; font-size:14px; text-decoration:none; float:left; /*float: none;*/}
a.view-professional-btn:hover { background:#000;}
.business-detail-wrapper-holder { /*position:absolute; top:45px; */text-align:center;right:0; margin-top: 20px; width:100%;}
.business-detail-wrapper-holder p { padding:10px 0;}
.business-detail-wrapper-holder strong { font-size:17px; text-transform:uppercase; word-wrap: break-word;}
.logo-area-holder { min-height:180px; background:hsl(0, 6%, 87%); position:relative;}
.logo-area-holder img { position:absolute; top:0; margin: auto; bottom:0; left:0; right:0; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border:none; border-radius:0;}
.nav-tabs > li { border:none;}
li.disp-btn a{ padding:0; margin-right:0; border: none;}
.nav-tabs { bo}
li.disp-btn { margin-right:3px;}
#view-map { margin:30px 0 20px 0; border:#000 1px solid; }
.boxDetail { background:#dfdbdb; padding:0 0 15px 0; width: 170px;}
.boxImage { margin:10px;}
.boxDetail p{ margin-left:10px;}
.detailOption span, .detailOption img { margin-right:5px;}
.boxLink { background:#dfdbdb; padding:0px 10px 8px 10px; text-align:right;}
.main-search-box-holder{ margin:20px 15px; background:#dfdbdb; position:relative;}
.main-search-box-holder > div { padding:0;}
.main-search-box-holder p { padding:8px 0 0 0;}
/*.business-deatil-wrapper-holder-search {    padding-left: 10px;}*/
.search-business-logo-holder { position:relative; background:#ccc; height:100%; min-height:180px; }
.search-business-logo-holder img { margin:auto; left:0; bottom:0;  right:0; top:0; position: absolute;}
.search-detai-wrap { width:100%; text-align:center; position:absolute; top:85px; }
.search-detai-wrap p{ widht:100%; text-align:center; margin:0; overflow:hidden; padding:8px 0 0 0;}
a.view-poperty-button { background-color: #ed1c24;  padding: 6px 12px; color:#fff; text-decoration:none; text-transform:uppercase; font-size:14px; font-weight:400; margin-top:5px; display:inline-block;}
.business-deatil-wrapper-holder-search { position:relative;}
.business-deatil-wrapper-holder-search h4 { width:86%;}
.contact-form .alert.alert-success { margin-left:15px;}
.business-deatil-wrapper-holder-search  span.glyphicon { color:#ed1c24; margin-right:5px;}
.error { /*margin-left:15px !important;*/}
#subscribe .sub-error.error { margin-left:0 !important; margin-top:5px;}
.input-group-md select { height:42px}
<!--.input-group-md .error {margin-left:0px !important;}-->
.default-transparent .checkbox label{ padding-left:5px;}
.nav > li > a:hover, .nav > li > a:focus { background-color:#000;}
input#inc-surrounding { margin-right:5px;}
/*.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: -23px;}*/
	.img-wrap-holder { height:180px; width:270px;  /*margin: 0 auto; display:table-cell; */}
	.img-wrap-holder img { /*height:100%;*/ width:100%; margin: 0 auto;}
	.nav-tabs{ border:none}
	.list-sort .right{ padding-left: 0; }
#search-widget .bsl-buttons button:last-child {   margin-right:0px;}
.alert-success  {margin: 0 15px;}
.filelist { text-align:center;}
.upload-actions { text-align:center;}
.filename { white-space: inherit;    word-break: break-all; padding:5px 0; line-height:22px;}
.alert.alert-file { float:left; width:100%; margin:20px 0 5px 0; border:#CCC 1px solid;}
.input-group-addon, .input-group-btn {white-space: inherit;}
.contact-form .alert.alert-danger {margin-left: 15px;  margin-right: 15px; clear:both;}
.img-full-widht-wrap{ height:100%;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color:#ed1c24; border-color:#dfdbdb;}
.pagination > li > a, .pagination > li > span{ color:#111;}
.container ul.pagination{ margin-left:15px;}
/*.reset-password-wrap { min-height:612px;}*/
body { padding-bottom: 157px;}
.heart-deafult-color { color:#605f60 !important;}
.check-box-area { margin-top: 10px;  display: inline-block;  margin-left: 5px; font-size: 13px; font-style: italic; font-weight: 600;}
/*.form-control.inc-area.check-box-circle {border:2px dotted #00f;display:block;background:#ff0000;}*/
.check-box-wrap-hold { width:65px; float:left;}
.radio.radio-box-holder-wrap {     float: left;    overflow: hidden;    width: 150px;    padding: 0;    margin: 0;}
/*custom check box*/
.check-box-wrap-hold label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	font-weight:600;
	font-size: 13px;
}
.check-box-wrap-hold input[type=radio],
.check-box-wrap-hold input[type=checkbox] {
	display: none;
}
.check-box-wrap-hold label:before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 18px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #fff;
	border:#ccc 1px solid;
	/*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}

.check-box-wrap-hold label:before {
-moz-border-radius: 12px;/*Firefox*/
-webkit-border-radius: 12px;/*Safari, Chrome*/
border-radius: 12px;
}
/*.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}*/

.check-box-wrap-hold input[type=radio]:checked + label:before {
    content: "\2022";
    color: #ed1c24;
    font-size: 28px;
    text-align: center;
    line-height:12px;
}

.make-red{
    color:#ed1c24;
}

.check-box-wrap-hold input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}
.bxslider li img {
    height:625px !important;
}
.top-property-detail-wrapper-holder { border-bottom:#dcdcdd 2px solid; margin:0 0 20px 0; padding-bottom:20px;  padding-top:20px; position:relative; float:left; width:100%;}
.top-property-detail-wrapper-holder h3 { font-size:18px; font-weight:bold; padding:0 0 15px 0; margin:0; text-transform:capitalize;}
.top-property-detail-wrapper-holder span { font-size:18px; font-weight:500; padding-top:10px;}
.top-property-detail-wrapper-holder span.small { font-size:14px; font-weight:400; width:100%; float:left;}
.top-property-detail-wrapper-holder span a { text-decoration:underline; color:#333;}
.icon-holder-wrapp-right {float: right;    position: absolute;    right: 0;    top: 20px;}
.icon-holder-wrapp-right span { font-size:13px; padding:0 8px;}
.icon-holder-wrapp-right span img { margin-right:5px;}
.times-box-wrapper-holder {width:100%; background:#f3f2f1; border:#dcdcdd 1px solid; -moz-border-radius: 4px;/*Firefox*/ -webkit-border-radius: 4px;/*Safari, Chrome*/border-radius: 4px; overflow:hidden; min-height:105px; margin-top: 20px;}
.heading-wrapper-holder-title { width:100%; overflow:hidden;}
.heading-wrapper-holder-title h3 { font-size:20px; font-weight:bold; color:#333f48;}
.heading-wrapper-holder-title h4 {font-size:20px; font-weight:400; color:#333f48; text-transform:uppercase;}
.times-box-wrapper-holder strong { border-bottom:#cccccc 1px solid; padding:15px; color:#e4002b; font-size:16px; text-transform: capitalize; width:100%; float:left;}
.times-box-wrapper-holder span { color:#6a6161; font-size:15px; padding:5px 15px 15px 15px; width:100%; float:left; font-size:14px;}
.heading-wrapper-holder-title p { width:100%; float:left; font-size:15px; line-height:22px; color:#333f59; padding:20px 0 0 0; margin:0;}
.heading-features-include { font-size:18px; padding:15px 0; width:100%; float:left;}
ul.features-include-wrapper { list-style-type: none; padding:5px 0; margin:0;}
ul.features-include-wrapper li { font-size:16px; line-height:20px; }
ul.features-include-wrapper li:before {content:"-"; padding:0 10px 0 0;}
.property-detail-features-wrapper { overflow:hidden; width:100%;}
.general-features-wrapper { width:48%; float:left;}
.outdoor-features-wrapper { width:48%; float:right;}
.general-features-wrapper h2, .outdoor-features-wrapper h2 { font-size:20px; padding:15px 0;}
.general-features-wrapper h3, .outdoor-features-wrapper h3 { font-weight:500;}
.general-features-wrapper ul, .outdoor-features-wrapper ul { list-style-type:none; padding:0; margin:0;}
.general-features-wrapper ul li, .outdoor-features-wrapper ul li{font-size:16px; line-height:20px; padding:5px 0;}
.general-features-wrapper ul li b, .outdoor-features-wrapper ul li b { font-weight:bold;}
.goodyer-wrapper-holder h3 { background: #333335 none repeat scroll 0 0; color: #fff; font-size: 20px;  font-weight: bold;  margin: 0 0 10px 0;  padding:15px 0;  text-align: center;  width: 100%; text-transform: capitalize;}
.goodyer-wrapper-holder { width:100%; background:#fff; border:#e3e3e3 1px solid; padding:0 0 15px 0; overflow:hidden; margin:15px 0;}
.img-fixed-sizing-holder-wrap { width:200px; height:150px; border:#CCC 1px solid;}
.goodyer-wrapper-holder h3 img { padding:0; margin:0; width:150px; height:auto; }
.goodyer-wrapper-holder img { margin:15px;}
.goodyer-wrapper-holder p {display: inline-block;    float: left;    font-size: 16px;    padding: 0 15px;    width: 100%;}
a.view-agent { background:#ed1c24; font-size:18px; text-transform:capitalize; color:#fff; padding:10px 20px; -moz-border-radius: 5px;/*Firefox*/ -webkit-border-radius: 5px;/*Safari, Chrome*/ border-radius: 5px; margin:15px 0; display:inline-block;}
a.view-agent:hover { color:#000;}
.right-top-wrapper-holder span { padding:5px;}
.right-top-wrapper-holder span.print, .right-top-wrapper-holder span.save { padding:0 20px 0 0;}
.right-top-wrapper-holder {border-bottom: 1px solid #ccc;    margin: 0 0 15px;    min-height: 145px;    padding:0 0 20px 0;    text-align: center; background:#fff; line-height:145px;}
.map-wrapper-holder { width:100%; margin:20px 0; padding:0;}
.right-section-detail-wrapper { width:100%;}
.slider-prev a img { width:20x; height: auto;}
.property-detail-page-wrapper-holder { margin-top:20px;}
.marign-left-rignt-mbl { margin-bottom:20px;}
span.small img { margin-right:8px;}
.detail-holder-wrapper- { background:#f5f5f6; padding:20px 15px;}
.left-section-detail-wrapper { background:#fff; padding:20px;}
.left-text-wrap-holder { width:60%;}
.right-text-wrap-holder  { width:40%;}
.top-property-detail-wrapper-holder h5 { word-wrap:break-all;}
.radio.radio-box-holder-wrap.lease-wrap { width:100%;}
.radio.radio-box-holder-wrap.lease-wrap .check-box-wrap-hold { width:100%;}
.radio.radio-box-holder-wrap.lease-wrap .check-box-wrap-hold .radio label {    padding-left: 26px;}
.radio.radio-box-holder-wrap.lease-wrap .check-box-wrap-hold label {    font-size: 16px; font-weight:700;}
.radio.radio-box-holder-wrap.lease-wrap .check-box-wrap-hold label.check-box-area { padding-left:25px;}
@media screen and (max-width: 1200px) { .location-row{ right: 4px;} .pic-slider img{ width:200px; height:130px; } .pic-slider{width:200px; height:130px;} .details-item h4 { width:auto !important;} .location-row .company-data img {max-height: 141px !important;} .business-detail-wrapper-holder {top: 10px;}.business-deatil-wrapper-holder-search { margin-left:10px;} .btn-group.btn-group-justified.bsl-buttons button.btn.btn-primary.btn-big {margin-right:16px !important;}.img-wrap-holder { height:180px; width: auto; }
body #bx-pager a img {    height: auto ;    width: 100px;}
body #bx-pager {  height: 520px;   margin: 50px 0; right: 25px;}
.bx-wrapper .bx-viewport {max-width: 755px !important;}
}
@media screen and (max-width: 1024px) {.business-deatil-wrapper-holder-search { margin-left:10px; margin-bottom:10px; min-height:180px;}}
@media screen and (max-width: 992px) {.logo-box img { transform: inherit;} .properties-box-holder-wrap {right: 4px;} .search-detai-wrap { top: 45px; position: static;} .business-detail-wrapper-holder { position: inherit; top: 0; margin: 20px 0;} a.view-professional-btn { float:none;}
body #bx-pager {        height: 470px;    margin: 24px 0;    right: 27%;}
body #slider-prev, body #slider-next { right:50%;}
.radio.radio-box-holder-wrap {margin:15px 0 0 0;}
.right-top-wrapper-holder { margin-top:15px;}
    .logo-area-holder img{height:180px;}
}
@media screen and (max-width: 767px) { #view-map { margin:50px 0px 20px 0px; }/* .container { overflow-x: hidden;}*/  .search-detai-wrap { position:inherit; top:0; padding:15px 0} .business-deatil-wrapper-holder-search h4{ width:100%;} .navbar-collapse{ float:right; /*width:276px;*/ width:95%;}.navbar-collapse { box-shadow:none;}li.social { float:left;  background:#ed1c24; padding:10px 27px 10px 15px; }.navbar-nav > li{border-bottom: 1px solid #fff;} .navbar-nav > li.social{border:none;} .navbar-nav > li > a{ margin-left:0 !important;} .navbar-nav > li > a:hover{background:#6d0509 !important;}.container #navbar ul{ margin-left:0; margin-right:0; background-color:#ed1c24 ;} body { padding-bottom: 250px;}
.general-features-wrapper, .outdoor-features-wrapper  { width:100%; float:left;}

.detail-banner-wrap, .property-detail-page-wrapper-holder { }
body #bx-pager a img {    width:70px;}
body #bx-pager {    height: 400px;}
body #bx-pager { display:none;}
body .bx-wrapper img { width:100%;}
body #slider-prev, body #slider-next { right:50%;}
.marign-left-rignt-mbl { margin:0 20px 20px 20px;}
body #bx-pager { display:none;}
.left-text-wrap-holder { width:100%; float:left;}
.right-text-wrap-holder  {width: 100%;}
.top-property-detail-wrapper-holder h3 {margin: 30px 0 0;}
    .bxslider li img {
        height:auto !important;
    }
}
@media screen and (max-width: 690px) {
body #bx-pager {    right: 10px;}
body #bx-pager {    height: 320px;}
}
@media screen and (max-width: 600px) { }
@media screen and (max-width: 480px) {.see-pro { padding-left:0;} .see-pro a {font-size:11px; }.list-sort .right .share-block .see-pro .btn {width: 215px;} .pic-slider img { width:100%;}.navbar-collapse{ width:95%;}.btn-group.btn-group-justified.bsl-buttons button.btn.btn-primary.btn-big {  margin-right:15px !important;}}
@media screen and (max-width: 420px) {.list-sort .share-block { right:0;}}
@media screen and (max-width: 360px) {.share-block img { margin-left:5px;}}
@media screen and (max-width: 360px) { body { padding-bottom: 245px;}}
.secure_field{
    -webkit-text-security: disc;
    -moz-text-security: disc;    text-security: disc;
}


select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: url('../img/bullet-select.png')  no-repeat right !important;
    background-position:99% 50% !important;
    background-size:8px 5px !important;
    cursor: pointer;
    margin-left: 1px !important;

}


.tab-like-radio > .active {
    background-color: #ed1c24;
    color:#fff;
}




/*.nav > li > a > img { margin:10px;}*/

.navbar{margin-bottom: 0 !important;}
.navbar-collapse{
    padding: 0;
    width: 100%;
    left: auto;
    right: 0 !important;
    margin-left: 0!important;
    margin-right: 0!important;
}
/*detail-search*/
.edit-search{
    background: #ed1c24;
    border-width:1px !important;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    padding: 15px 0;
}
.edit-search-wrap{
    background: #ed1c24;
    margin:0 -9999px;
    padding:0 9999px;
}
.edit-search .col-md-12{background: #fff; border-radius: 5px;}
.edit-search .loading{
    padding:15px;
    font-weight: bold;
}
.edit-search .drop{
    padding: 10px 0;
}
.edit-search .btn-group{width: 100%;}
.edit-search .btn-group .btn.disabled{width: 112px;}
.edit-search .input-group{z-index: 0;}
.edit-search .input-group-md{margin-bottom: 20px;}
.edit-search .input-group-md .form-control{
    height: 34px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
}
.edit-search .search-more.pull-right{cursor:pointer;}
.edit-search .input-property-status .btn-group{
    float: left;
    margin: 0 0 10px;
}
.edit-search .input-property-status .btn-group .btn + .btn{margin: 0;}
.edit-search .input-property-status .btn{
    font-size: 20px;
    padding: 10px 20px;
}
.edit-search .input-group input[type="text"]{
    border-radius: 3px 0 0 3px;
}
.edit-search .row.add{padding: 10px 0 0;}
.edit-search .row.add02{padding-bottom: 10px;}
.edit-search .input-group .form-control{
    height: 60px;
    padding: 15px 12px;
}
.edit-search .input-group .input-group-btn{
    vertical-align: top;
}
.edit-search .input-group .btn-primary.search_bn{
    height: 60px;
    padding: 6px 30px;
    border-radius:0 3px 3px 0;
}
.edit-search .clear-btn{
     background: url('../img/btn-cross.png') no-repeat;
    position: absolute;
    top: 25px;
    right: 100px;
    width: 17px;
    height: 16px;
    text-indent: -9999px;
    overflow: hidden;
    margin:0;
    z-index: 9;
    cursor:pointer;
}
.input-include .radio label, 
.input-include .checkbox label{padding-left: 24px;}
.input-include .check-box-area{margin-top: 0;}
.more-filter-fields .input-checks-button{
    border:1px solid #9d9b9c;
    border-radius: 5px;
}
.more-filter-fields{padding-bottom: 10px;}
.more-filter-fields:after{
    content: "";
    clear: both;
    display: block;
}
.more-sell-search-options .col-md-6,
.tenant-or-landlord-options .col-md-6:first-child{padding-right: 25px;}
.more-filter-fields span{display: block;}
.more-filter .btn.pull-right.btn-primary{padding: 15px;}
#sliderContainer{padding-top: 10px !important;}
.edit-search .btn-group > .btn:hover, 
.edit-search .btn-group-vertical > .btn:hover, 
.edit-search .btn-group > .btn:focus, 
.edit-search .btn-group-vertical > .btn:focus, 
.edit-search .btn-group > .btn:active, 
.edit-search .btn-group-vertical > .btn:active, 
.edit-search .btn-group > .btn.active, 
.edit-search .btn-group-vertical > .btn.active{
    z-index: 0 !important;
}
@media screen and (max-width: 990px){
    .edit-search .btn-group .btn.disabled{width: 179px;}
    .more-sell-search-options .col-md-6{padding-right: 30px;} 
    .tenant-or-landlord-options .col-md-6:first-child{padding-right: 35px;}
}
/*end of detail-search*/
@media screen and (max-width: 767px) {
    #home .navbar-collapse{margin-top: 40px !important;}
    .edit-search .input-checks-button .btn{
        font-size: 10px;
    }
    .edit-search .input-group-md{margin-bottom: 0;}
    .edit-search .more-filter-fields .input-group-md{
        margin-bottom: 20px;
    }
    .edit-search .more-filter-fields .tenant-or-landlord-options .input-group-md{margin-bottom: 0;}
    .edit-search .more-filter-fields .tenant-or-landlord-options .col-sm-6:first-child .input-group-md{margin-bottom: 20px;}
    .edit-search .input-group-md .form-control{height: 30px;}
    .navbar-toggle{margin-right:0 !important;}
    .tenant-or-landlord-options .col-md-6:first-child,
    .more-sell-search-options .col-md-6{
        padding-right: 15px;
        max-width: 318px;
        margin: 0 auto;
    }
    .edit-search .btn-group .btn.disabled{width: 165px;}
}
.form-titles {
    
    top: 0px;
    margin-left: 15px;
}
#agree-error{
    float: right;
}
.search-profile-summary-value{
 white-space:normal !important;
 word-wrap:break-word;
}
.imagelist{
    height: 180px;
    width: 270px;
     margin: 0 auto; 
    
    /* display: table-cell; */
    vertical-align: middle;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important; 
    
}