

/* ==========================================================================
   Dashboard custom styles
   ========================================================================== */

.stat-row{
	background-color: #dfdbdb;
	margin: -20px 0 15px 0;
	padding: 15px 0;
	}
.half-pie-chart{
	padding: 0;
	margin-top: -5px;
}
.stat-banner{
	padding: 0;
	margin:0;
}
.search-list-row{
	border: 1px solid #dfdbdb;
	margin: 10px 0 13px 0;
}

#pie-semi-graph{
	width: 280px;
	height: 280px;
	position: relative;
	top: -6px;
	left: 0px;
	margin-bottom: -95px;
}
.search-items-list{
	z-index: 1;
}
.chart-container{

}
.half-pie-chart .properties-date{
	position: absolute;
	left: 0;
	bottom: -7px;
	z-index: 9;
	background: url("../img/bsl-colours.png") no-repeat;
	background-position: 215px 3px;
	background-size: 60px 42px;
	width: 98%;
	padding-right: 10px;

}
.small-graph{
	padding: 8px 0 0 5px;

}
.small-graph .img-graph{
	position: absolute;
	left: 5px;
	top: 35px;
}
.properties-date h4{
	font-size: 21px;
	font-weight: 300;
	padding: 0;
	margin: 0;
}
.chart-container{
	overflow: hidden;
	width: 300px;
		margin-left: -20px;
}
.properties-box{
	background-color: #fff;
	border-radius: 7px;
	padding: 0 10px 2px 10px;
	margin-left: -10px;
	margin-right: 10px;
	margin-top: -20px;
}
.prpoerties-row{
	margin-left: -30px;
	padding: 0;
	margin-right: -5px;
	}
.bsl-badge{
	position: relative;
	top: -5px;
	left: 5px;
}
.bsl-badge .label-white{
	position: absolute;
	color: #fff;
	left: 0px;
	top: 10px;
	width: 66px;
	text-align: center;
}
.lab-empty, .lab-name, .lab-date, .lab-where, .lab-type, .lab-range, .bsl-badge{
	float: left;
}
.lab-total, .lab-new, .lab-thumbs{
	float: right;
}
.lab-empty{
	width: 7%;
}
.lab-name{
	width: 10%;
}
.lab-date{
	width: 7%;
}
.lab-where{
	/*width: 10%;*/
}
.list-sort .left .lab-where h6{
   padding-top: 5px;
}
.lab-type{
	width: 12%;
}
.lab-range{
	width: 11%;
}
.lab-thumbs{
	width: 22%;
}
.lab-total{
	width: 5%;
	text-align: center;
	padding-left: 10px!important;
padding-right: 10px!important;
}
.lab-new{
	width: 6%;
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;

}
.lab-empty h6, .lab-name h6, .lab-date h6, .lab-where h6, .lab-type h6, .lab-price h6, .lab-range h6, .lab-thumbs h6, .lab-total, h6, .lab-new h6{ 
	font-size: 12px;
	padding: 0;
	margin: 0;
	font-weight: 700;
}
.lab-empty p, .lab-name p, .lab-date p, .lab-where p, .lab-type p, .lab-price p, .lab-range p, .lab-thumbs p, .lab-total p, .lab-new p{ 
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	}
.lab-total h5{
	font-size: 12px;
	background-color: #000;
	color: #FFF;
	border-radius: 4px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 8px 0 0 5px;

}
.lab-new h5{
	font-size: 12px;
	background-color: #ed1c24;
	color: #FFF;
	border-radius: 4px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 8px 0 0 5px;
}

.lab-thumbs{
	text-align: right;
	padding: 0px;
}
.lab-name p, .lab-date p, .lab-where p, .lab-type p, .lab-range p{
	padding: 10px 0 0 10px;
}
.lab-thumbs ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.lab-thumbs ul li{
	display: inline;
}
.list-thumb{
	padding: 0;

}
.list-thumb img{
	padding: 0;
	margin-right: -3px;
margin-bottom: 0px;
}
.list-labels .col-md-7, .list-labels .col-md-6, .list-labels .col-md-5{
    padding: 0;
    margin-left: -15px;
}
.list-sort .left{
    padding-left: 0;
}
