

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#footer {
    bottom: 0;
    position:absolute;
    width: 100%;
    background-color: #111;
    color: #fff;
    border-top: solid 1px #fff;
	overflow-x:hidden;

}
#footer, #footer .container{
	background-color: #111;
	color:#fff;
    padding: 0;
}
#footer p{
	font-size: 10px;
	padding: 0;
	font-weight: 100;
}
#footer .row{
	margin: 15px 0 0 0;
}
#footer ol, #footer ul{
  width: 28em; 
  list-style: none;
  margin-left: -40px;
}
#footer ol li{
  float: left;
  width: 10em; 
}
#footer div.wrapper{
  margin-bottom: 0;
}
#footer h5{
	font-family: 'Lato', sans-serif;
	color: #ed1c24;
	font-weight: 300;
    font-size: 14px;
}
#footer a{
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 100;
	font-size: 13px;
}
#footer a:hover{
	color: #9d9b9c;
}
#footer .container .links-row{
	margin: 15px 0 0;
}
#footer .copyright-row{
    padding: 10px 15px 0 15px;
	margin: 0;
}
.copyright-row .col-md-6{
	padding: 0;
}
.newsletter img{
	margin-top: 11px;
	margin-bottom: 10px;
}
.newsletter{
    padding-right: 0;
}
#footer .form-control{
    height: 32px;background-color: #fff;
}














