.title-sec {
        border: 1px solid #ED1C24;
        background-color: #ED1C24 !important;
        margin:30px 0 10px 0;
        padding:20px;
          /*Firefox*/
        -moz-border-top-left-radius: 10px;
        -moz-border-top-right-radius: 10px;
        -moz-border-bottom-right-radius: 1px;
        -moz-border-bottom-left-radius: 0px;
        /*Safari, Chrome*/
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 1px;
        -webkit-border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 0px; overflow:hidden; clear:both;
        width:100%;
    }

.related-image-container > li {text-decoration: none;}
.ooter-area {height: 15px; background-color: #ED1C24 !important; }
.main-image img { width:100%;}
.related-images img { margin-top:15px; margin-bottom:15px;}
.title-details { color:#fff; float:left; width:40%;}
  .agency-logo{ position:relative; height:100%; min-height:80px; width:30%; float:left;}
.agency-logo img { position:absolute; right:0; left:0; bottom:0; top:0; margin:auto;}

.bed-bath-parking { float:left; width:30%;}
.agent-details h3 {margin-top:0px;}
.property-detail-features-wrapper { border-bottom:#CCC 1px dashed; border-top:#CCC 1px dashed;}
.floor-plan-images { text-align:left;}
.floor-plan-images img { width:100%;}
.bed-bath-parking span { color:#fff !important; margin-right:8px; }
.bed-bath-parking span img{ margin-right:8px;}
.footer-area{  border: 1px solid #ED1C24;
        background-color: #ED1C24 !important;
        margin:30px 0 10px 0;
        padding-top:10px;
        min-width:100px;
        padding-bottom:10px;
         /*Firefox*/
        -moz-border-top-left-radius: 0px;
        -moz-border-top-right-radius: 0px;
        -moz-border-bottom-right-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        /*Safari, Chrome*/
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px; overflow:hidden; clear:both;  overflow:hidden; clear:both;}
.goodyer-wrapper-holder img { width: 100%;}
.property-description { padding-right:25px; padding-left:25px;}
@media print{ 
    body {-webkit-print-color-adjust: exact;}
    .title-sec {
            border: 1px solid #ED1C24;
            background: #ED1C24 !important;
            margin:30px 0 10px 0;
            padding:20px;

              /*Firefox*/
            -moz-border-top-left-radius: 10px;
            -moz-border-top-right-radius: 10px;
            -moz-border-bottom-right-radius: 1px;
            -moz-border-bottom-left-radius: 0px;
            /*Safari, Chrome*/
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -webkit-border-bottom-right-radius: 1px;
            -webkit-border-bottom-left-radius: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 1px;
            border-bottom-left-radius: 0px; overflow:hidden; clear:both;
            width:100%;
        }


    .related-image-container > li {   text-decoration: none; }
    .ooter-area { height: 15px;  background-color: #ED1C24 !important; }
    .main-image img { width:100%;}
    .related-images img { margin-top:15px; margin-bottom:15px;}
    .title-details { color:#fff; float:left; width:40%;}
     .agency-logo{ position:relative; height:100%; min-height:80px; width:30%; float:left;}
.agency-logo img { position:absolute; right:0; left:0; bottom:0; top:0; margin:auto;}
    .bed-bath-parking { float:left; width:30%;}
    .agent-details h3 {margin-top:0px; width: 20%;}
    .property-detail-features-wrapper { border-bottom:#CCC 1px dashed; border-top:#CCC 1px dashed;}
    .floor-plan-images { text-align:left;}
    .floor-plan-images img { width:100%;}
    .bed-bath-parking span { color:#fff !important; margin-right:8px; }
    .bed-bath-parking span img{ margin-right:8px;}
    .footer-area{  
        border: 1px solid #ED1C24;
        background-color: #ED1C24 !important;
        margin:30px 0 10px 0;
        padding-top:10px;
        min-width:100px;
        padding-bottom:10px;
             /*Firefox*/
        -moz-border-top-left-radius: 0px;
        -moz-border-top-right-radius: 0px;
        -moz-border-bottom-right-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        /*Safari, Chrome*/
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px; overflow:hidden; clear:both;  overflow:hidden; clear:both;
    }
    .goodyer-wrapper-holder img { width: 100%;}

}