/* ==========================================================================
   RESPONSIVE STYLE
   ========================================================================== */

@media (max-width: 1199px) {
    .logo-box img {
        width: 80%;
    }

    .img-gmap {
        right: 22px;
    }

    .view-item {
        right: 10px;
    }

    .details-item h4 {
        width: 300px;
    }

    .details-item .properties-box {
        right: -28px;
    }
	.navbar-right {
    margin-right: -30px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.guide-item {
    bottom: -6px;}
    #search-widget .btn-group.btn-group-justified.bsl-buttons {
        text-align: center;
        margin: 30px 0px 30px 0;
        width:100%;
    }

    .alerts-body, .relationships-body, .cost-effective-body {
        -webkit-background-size: auto 90%;
        -moz-background-size: auto 90%;
        -o-background-size: auto 90%;
        background-size: auto 90%;
        background-position: 20% 150px;
    }

    .agent-signup-body {
        background-color: #000000;
    }

    .sales-and-leasing-body {
        -webkit-background-size: auto 90%;
        -moz-background-size: auto 90%;
        -o-background-size: auto 90%;
        background-size: auto 90%;
    }

    .points-content {
        padding-bottom: 20px;
    }

    #home #search-widget {
        margin-top: 41px;
    }
}

#home .bsl-navigation {
    margin-top: 72px;
}

#home .navbar {
    max-height: 650px;
}

.container h1 {
    font-size: 38px;
}

.bsl-navigation h4 {
    font-size: 17px;
}

.bsl-buttons .btn-big {
	font-size: 44px;
	width: 31%;
}

.bsl-buttons {
    text-align: center;
    border-radius: 0;
}

.properties-date h4 {
    font-size: 18px;
    line-height: 21px;
}

.half-pie-chart .properties-date {
    background-position: 176px 0px;
    width: 100%;
}

.join-box h3 {
    margin: 0 0 20px 4px;
    font-size: 23px;
}

.buttons-col h6 {
    font-size: 14px;
    line-height: 20px;
}

.user-login .join-box {
    padding: 20px 6px 19px 0;
}
@media only screen and (max-width: 1024px) {.nav > li > a {
    display: block;
    padding: 10px;}}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .image-bg-fixed-height {
        bottom: 0px;
    }

    .join-box {
        width: 96%;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .join-box .form-horizontal {
        margin-right: -15px;
    }

    .buttons-col {
        padding: 0 30px 6px 35px;
    }
	.location-row { padding-top:10px;}
	
}

@media (max-width: 991px) {.img-gmap { width:auto;}  .view-detail-cls-wrap { right:15px;}
    #search-widget .btn-group.btn-group-justified.bsl-buttons {
        margin: 30px 0px 30px 0px;
    }

    .navbar-collapse .navbar-nav > li > a {
        font-size: 14px;
    }

    .details-item .properties-box {
        right: -10px;
    }

    .agent-signup-body h1 {
        color: #333333;
    }

    .extra-cols .col-r {
        padding-left: 0px;
    }

    #home .bsl-navigation {
        margin-top: 25px;
    }

    .logo a > img {
        width: 170px;
    }

    #home .navbar {
        max-height: 540px;
    }

    .container h1 {
        font-size: 38px;
    }

    .bsl-navigation h4 {
        font-size: 17px;
    }

    .items-list .list-sort .right {
        min-height: 75px;
    }

    .share-block {
        top: 19px;
    }

    /* background-position TRICK */
    .relationships-body .image-bg-fixed-height, .alerts-body .image-bg-fixed-height, .focus-body .image-bg-fixed-height, .cost-effective-body .image-bg-fixed-height, .sales-and-leasing-body .image-bg-fixed-height, .find-services-body .image-bg-fixed-height, .agent-signup-body .image-bg-fixed-height {
        display: block;
    }

    .relationships-body, .alerts-body, .focus-body, .cost-effective-body, .sales-and-leasing-body, .find-services-body, .agent-signup-body {
        background: transparent;
    }

    .alerts-body .default-transparent, .relationships-body .default-transparent, .focus-body .default-transparent, .cost-effective-body .default-transparent, .sales-and-leasing-body .default-transparent, .find-services-body .default-transparent, .agent-signup-body .default-transparent {
        background: #f6f6f6;
    }

    /* padding, margin reduction */
    .relationships-body .points-content, .alerts-body .points-content, .focus-body .points-content, .cost-effective-body .points-content, .sales-and-leasing-body .points-content, .find-services-body .points-content {
        padding-bottom: 0px !important
    }

    .relationships-body h1, .alerts-body h1, .focus-body h1, .cost-effective-body h1, .sales-and-leasing-body h1, .find-services-body h1 {
        margin-top: 5px;
    }

    .sales-and-leasing-body {
        -webkit-background-size: auto 70%;
        -moz-background-size: auto 70%;
        -o-background-size: auto 70%;
        background-size: auto 90%;
    }

    .points-content {
        padding-bottom: 20px;
    }

    /* ======= company logo ======== */
    .location-row {
        float: left;
        width: 100%;
        right: -12px;
        padding-top: 20px;
    }
	   .agents-location-row {
        float: left;
        width: 100%;
        right: -12px;
        padding-top: 20px; text-align:center
    }

    .img-gmap {
        right: 18px;
        text-align: right;
    }

    .location-row .img-gmap .seller-info {
        min-width: 152px;
        position: absolute;
        right: 0;
        bottom: 32px
    }

    .company-data .logo-box {
        height: 1px;
    }

    .company-data {
      float: none;
    }

    .location-row .company-data img {
       
        bottom: 0;
        position: absolute;
        width: auto;
        max-height: 180px;
        max-width: 180px;
    }

	.img-gmap { text-align:center;}
    /* ======= end company logo ======== */
}

@media (max-width: 768px) {
    .navbar-header .navbar-toggle {
        border: 2px solid #ed1c24;
       /* top: 14px;*/
	    top:25px;
    }

    /* .image-bg-fixed-height{
        height: 442px;
    } */
    .alerts-body .pict-col {
        padding-right: 15px;
    }
   /* .collapse.navbar-collapse{  display: block; visibility:visible;}*/
   .img-gmap {
    text-align: center;
}
}

@media (max-width: 767px) {
    .details-item .properties-box {
        right: -10px;
    }

    .contact-body .form-group {
        margin-right: 20px;
    }

    .container > .navbar-header {
        margin-right: 0px;
        margin-left: 0px;
    }

    .newsletter {
        padding-right: 15px;
    }

    .container h1 {
        font-size: 36px;
    }

    .bsl-navigation h4 {
        font-size: 16px;
    }

    .bsl-navigation {
        margin: auto;
    }

    .main-slogan {
        margin: 0 -15px 0 -15px;
    }

  /*  .main-slogan .col-md-4 {
        padding-right: 0;
    }*/

    .details-item {
        float: left;
        padding: 2px 10px;
    }

    .pic-slider {
        width: 100%;
        padding-right: 0;
    }

    .pic-slider img {
           padding-right: 0;
    }

    .view-item {
        position: relative;
        right: 2px;
        bottom: 2px;
        float: right;
    }

    .guide-item {
        left: 0;
        bottom: -10px;
        position: relative;
    }

    .image-bg-fixed-height {
        bottom: 0px;
    }

    .join-box {
        width: 95%;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .join-box .form-horizontal {
        margin-right: -15px;
    }

    .buttons-col {
        padding: 0 30px 6px 35px;
    }

    .faworite-ico {
        bottom: 15px;
    }

    /* ======= company logo ======== */
    .location-row {
        float: left;
        width: 100%;
        right: -12px;
        margin-top: -25px;
        padding-top: 0;
    }
    .img-gmap {
        right: 18px;
        text-align: center;
    }

    .location-row .img-gmap .seller-info {
        min-width: 100%;
        position: absolute;
        right: 0;
        bottom: 32px
    }

    .company-data .logo-box {
        height: 1px;
    }

    .company-data {
       float: none;
    }

    .location-row .company-data img {
        margin-left: -12px;
        bottom: 0;
        position: absolute;
        width: auto;
        max-height: 180px;
        max-width: 180px;
    }

    /* ======= end company logo ======== */
	.items-list .head-row h2{ padding-top: 54px;}
	
.navbar-collapse {
 	position: absolute;
    right: 30px;
    top: 43px;
    z-index:9999;
}
.navbar-nav { margin-top:0;}

}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    #search-widget .bsl-buttons .btn-big {
        font-size: 34px !important;
    }

    #search-widget .btn-group.btn-group-justified.bsl-buttons {
        margin: 30px 0px 30px 0px;
        width: 100%;
    }

    #home .navbar {
        max-height: 520px;
    }

    #search-widget .btn-group.btn-group-justified.bsl-buttons .btn-big {
        font-size: 34px;
        width: 29%;
    }

    .container h1 {
        font-size: 32px;
    }

    .bsl-navigation h4 {
        font-size: 14px;
    }

    .item-row .location-row .company-data .seller-info {
        position: relative;
        bottom: 70px;
    }
}
@media only screen and (max-width:600px) {}
@media only screen and (min-width: 481px) and (max-width: 639px) {
    #search-widget .bsl-buttons .btn-big {
        font-size: 30px !important;
    }

    #home .navbar {
        max-height: 420px;
    }

    #search-widget .btn-group.btn-group-justified.bsl-buttons .btn-big {
        font-size: 30px;
        width: 28%;
    }

    #search-widget .bsl-buttons {
        margin: 20px -15px 20px -13px !important;
        padding: 0;
        width: 106% !important;
    }

    .bsl-navigation {
        margin-bottom: 15px;
    }

    #home .bsl-navigation {
        margin-top: 15px;
        min-height: inherit;
    }

    .logo a > img {
        width: 108px;
        margin-top: 12px;
    }

    .container h1 {
        font-size: 22px;
    }

    .bsl-navigation h4 {
        font-size: 13px;
        padding: 2px 0;
    }

    .bsl-buttons .btn-big {
        font-size: 30px;
        width: 29%;
    }

    .btn-big {
        height: 44px;
    }

    .main-slogan p {
        font-size: 15px;
        line-height: 20px;
    }

    .item-row .location-row .company-data .seller-info {
        position: relative;
        bottom: 70px;
    }

    .join-box {
        width: 95%;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .alerts-body, .relationships-body, .cost-effective-body {
        -webkit-background-size: auto 80%;
        -moz-background-size: auto 80%;
        -o-background-size: auto 80%;
        background-size: auto 80%;
        background-position: 20% 150px;
    }

    .points-content {
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #home .navbar {
        max-height: 405px !important;
    }

    #search-widget .btn-group.btn-group-justified.bsl-buttons {
        margin: 30px 0px 30px 0px;
        
    }

    #search-widget .bsl-buttons button.btn.btn-primary.btn-big {
        font-size: 20px;
    }

    .bsl-navigation {
        margin-bottom: 15px;
    }

    #home .bsl-navigation {
        margin-top: 15px;
    }

    .logo a > img {
        width: 90px;
        margin-top: 10px;
    }

    .bsl-navigation h1 {
        font-size: 16px;
    }

    .container h1 {
        font-size: 22px;
    }

    .bsl-navigation h4 {
        font-size: 12px;
        padding: 2px 0;
    }

    .bsl-buttons .btn-big {
        font-size: 26px;
        width: 27%;
        margin-left: 12px;
    }

    .btn-big {
        height: 38px;
        padding: 0px 10px 0px 10px !important;
    }

  /*  #search-widget .bsl-buttons BUTTON {
        margin: 0 5px !important;
    }*/

    .main-slogan p {
        font-size: 15px;
        line-height: 20px;
    }

    .item-row .location-row .company-data .seller-info {
        position: relative;
        bottom: 70px;
    }

    #footer .container .links-row {
        margin: 15px 0px 0 0px;
    }

    .join-box {
        width: 93%;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .alerts-body, .relationships-body {
        -webkit-background-size: auto 80%;
        -moz-background-size: auto 80%;
        -o-background-size: auto 80%;
        background-size: auto 80%;
        background-position: 30% 150px;
    }

    .points-content {
        padding-bottom: 20px;
    }

    .cost-effective-body {
        background-position: top center;
    }
    #search-widget .bsl-buttons {
        margin: 30px 0px 30px 0px!important;
    }
    .share-block .inline { width:100%;}
    .container .item-row { margin-top:40px;}

}
@media only screen and (max-device-width: 420px) and (min-device-width: 320px) {.share-block{ position:relative;}
    .bsl-search-nav .btn-big {
        width: 70% !important;
    }

    #search-form .checkbox {
        margin-bottom: -20px;
        margin-top: 0px;
    }

    #search-widget .bsl-buttons {
        margin: 25px 0px 30px 0px !important;
    }

    #search-widget .bsl-buttons button.btn.btn-primary.btn-big {
        font-size: 16px !important;
    }

    #search-widget {
        padding-top: 15px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .bsl-buttons {
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: center;
    }

    #home .navbar {
        max-height: 320px !important;
    }

    #search-form {
        margin-top: 0px !important;
        margin-bottom: -5px;
    }

    .form-control {
        height: 32px;
        font-size: 12px;
    }
/*span.bullet-icon{ height:30px;}*/
    #search-widget input {
        font-size: 12px !important;
    }

    .bsl-navigation {
        margin-bottom: 12px;
    }

    #home .bsl-navigation {
        margin-top: 7px;
    }

    .logo a > img {
        width: 80px;
        margin-top: 7px;
    }

    .bsl-navigation h1 {
        font-size: 15px;
        margin-top: 12px;
    }

    .bsl-navigation h4 {
        font-size: 11px;
        padding: 0;
    }

    .bsl-buttons .btn-big {
        font-size: 20px;
        width: 28%;
        margin-left: 10px;
    }

    .btn-big {
        height: 30px;
        padding: 0px 8px 0px 8px !important;
    }

    .image-bg-fixed-height {
        height: 186px;
    }

    #footer a {
        font-size: 12px;
    }

    #footer h5 {
        font-size: 12px;
    }

    #footer ol li {
        width: 9em;
    }

    .join-box {
        width: 90%;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .location-row .company-data img {
        height:auto; margin-top: 10px;  width: 130px;    }
.view-detail-cls-wrap{ right:15px;}
    .btn {
        font-size: 12px;
    }
    .location-row{
        height:180px;
    }
    .location-row .img-gmap .seller-info {
        min-width: 136px!important;
    }
    .items-list .head-row h2{
        font-size: 24px;
       

    }
    #footer .form-control{
        height: 29px;
    }
    .details-item {
        width: 100%;
    }
    .details-item p{
        padding-right: 0;

    }
    .details-item h4 {
        width: 100%;
        height: auto;
    }
    .faworite-ico a{
        padding-right: 0px;
        margin-right: -5px;

    }
    .list-sort .lab-where{
        width: 100%;

    }
    .sort-btn .btn {
        padding: 4px 4px 6px 3px;
    }
    .sort-icons {
        width: 108%;
        left: 0;
    }
    .share-block .inline h6 {
        position: absolute;
        top: -2px;
        right: 0px;
        width: 100%;
        display: block;
    }
    .share-block img{
        float: right;
        margin-bottom: 8px;
    }
    .list-sort {
        height: 133px;
    }
    .see-pro {
        padding-left: 0;
        width: 100%;
    }
    .see-pro .btn {
        width: 100%;
    }
}
