#search-widget {
    padding-top:  20px;
    padding-left: 20px;
    padding-right:  20px;
}

#search-widget h1 {
    margin: 0;
}

#search-widget h4 {
    margin: 0;
    padding: 0;
}

#search-progress ul.progress-dots {
    margin-bottom: 10px;
    margin-top: -30px;
}

#search-progress ul.progress-dots li {
    list-style: none;
    background: black;
    border-radius: 50%;
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

#search-progress ul.progress-dots li.current {
    background: #ed1c24;
}

.btn-group.btn-group-justified.bsl-buttons button.btn.btn-primary.btn-big { margin-right:29px;}
.btn-group.btn-group-justified.bsl-buttons button:first-child { margin-left:0;}
.btn-group.btn-group-justified.bsl-buttons button:last-child { margin-right:0;}
.btn-group-justified > .btn, .btn-group-justified > .btn-group { display: block;}
.btn-group-justified > .btn, .btn-group-justified > .btn-group { float:left;}
/*#search-widget .bsl-buttons button  {
    margin: 0 10px;
}*/
#search-widget .bsl-buttons .btn-big {
    font-size: 44px;
}

#search-widget .bsl-buttons {
    text-align: center;
    margin: 30px 0px 30px 0px;
    width: 100%;
}
#search-form{
    margin-top: 4px;
}
.bsl-search-nav .btn-big {
    /*width: 50%;*/
    width:auto;
}

.bsl-search-nav {
    margin-top: 0;
}

#search-widget select {
    border: 0;
    outline: #9d9b9c solid 1px;
    outline-offset:-1px;
}

#search-widget .form-control {
    margin-bottom: 8px;    margin-top: 10px;
}

#search-widget input {
    font-size: 16px;
}
input#inc-surrounding { margin-top:1px;}
::-webkit-input-placeholder {
    text-transform: lowercase;
}

:-moz-placeholder { /* Firefox 18- */
    text-transform: lowercase;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-transform: lowercase;
}

:-ms-input-placeholder {
    text-transform: lowercase;
}
#search-form .checkbox{
    margin-bottom: -15px;
}
button.multiselect.dropdown-toggle.btn.btn-default { border: 0 none; outline: 1px solid hsl(330, 1%, 61%); outline-offset: -1px; border-radius: 0;
    height: 42px;  background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;     border-color: hsl(330, 1%, 61%);    border-radius: 0;    color: hsl(330, 1%, 61%); position:relative;}
button span.multiselect-selected-text { text-align:left; float:left; white-space: nowrap; overflow: hidden;}
b.caret{ text-align:right; position:absolute; right:5px; margin-top:7px;}
#search-widget input {    font-size: 14px;}
.container ul {    margin-left:0px;}
ul.multiselect-container.dropdown-menu { height: auto; width:100%; border-radius:0; padding:0 0 20px 0;}
#search-widget select.form-control option{ padding:4px 0 0 5px;}
ul.multiselect-container > li { line-height:22px; padding:8px 0; float:left; width:100%;}
.multiselect-container > li > a > label {    padding: 3px 20px 3px 45px; position: relative;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { color:#000;}
.list-sort .share-block .see-pro a.btn.btn-secondary.btn-sm { width:240px; }
span.multiselect-selected-text {font-size:14px;}
input[type="radio"], input[type="checkbox"] { margin:0;}
.form-control { font-size:14px;}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown-menu > li > a { color:#9d9b9c;}
ul.multiselect-container.dropdown-menu li a label input { margin-right:10px; left:35px; position:absolute}
.bullet-icon {background:#fff url("../img/bullet-select.png") no-repeat scroll center center;
    display: inline-block;
    height: 40px;
    line-height: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    width:30px;cursor: pointer;
/*  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;*/}
.input-group-md { position:relative;}
