
#widget_box{

    text-align:left;
    width:78%;
    position:relative;
    height:37%;
    overflow: hidden;
}

#steps{

    width:400%;
    height:100%;
    float:left;
    overflow:hidden;
}
.step {
    float: left;
    width: 25%;
    height: 100%;
    overflow: hidden;

}

.form_box {

    padding-left: 10px;
    padding-right: 10px;

}

.widget_buttons {
    text-align: center;
}


.points-icons{

    text-align: center;

}


/******* css of dots ****/
.navDots{
    list-style: none;
    width:100%;
    text-align:center;
    position: absolute;
    bottom: 5px;

}
.navDots2{
    background: #888;
    border-radius: 50%;
    display: inline-block;
    width:15px;
    height:15px;
    vertical-align: middle;



}
