.error{
    color:red;
    top:0px;
    font-weight: bold;
    /*margin-left: 10px;*/
}
.errorss{
	margin-left: 10px;
}
.payment-info{
	margin-top: 10px;
	float: left;
}
.payment-info h3{
	margin-top: 10px;
}
.fontsmall{
		font-size:10px; font-family:'arial';
}