

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
p{
    line-height: 17px;
}
.container h1{
	font-weight: 300;
	font-size: 48px;
    padding-bottom: 15px;
}
h2{
	font-weight: 300;
	font-size: 36px;
    color: #000;
}
.head-row h2{
	margin: 5px 0 12px 0;
}
h3{
    font-size: 24px;
    font-weight:300;
    color: #000;
}
h4{
	color: #ed1c24;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}
h5{
    font-size: 20px;
    font-weight: 300;
}
.container .login-box h1 {
	font-size:32px;
    padding: 0;
    margin: 0 0 10px -2px;
}
.join-box  h1{
    padding: 0;
    margin: 0 0 10px 6px;
}
.login-box h3{
    padding: 0;
    margin: 0 0 25px 0;
}
.join-box h3{
    padding: 0;
    margin: 0 0 19px 4px;
}
.form_box h1 {
    padding-left: 12px;
    padding-right: 10px;
}

.form_box h5 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    font-weight: 300;
}
.buttons-col h4{
    padding-top: 0;
    margin-top: 2px;
}
.buttons-col h6{
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    padding: 10px 0;
}
.faq-content h2{
    padding-bottom: 30px;
}
.subscribersterms-body h5{
    font-weight: 300;
    font-size: 16px;
    margin: 5px 0;
}
.subscribersterms-body h3{
    font-weight: 400;
    font-size: 18px;
    margin: 5px 0;
}
.pict-col h2{
    text-align: right;
    color: #ed1c24;
    line-height: 120%;
    padding-top: 20px;
}
.cost-effective-body .pict-col h6{
    text-transform: uppercase;
    font-size: 14px;
    font-size: bold;
    padding-bottom: 10px;
}
.points-content h1{
    font-weight: bold;
}
.sales-and-leasing-body h5{
    font-size: 15px;
    color: #ed1c24;
    font-weight: 400;
}
.address-box h3{
    color: #ed1c24;
}












