

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn {
	font-family: 'Lato', sans-serif;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	border: transparent;
	border-radius: 0;

}
.btn-primary{
	background-color: #ed1c24;
	background-image: none;
}
.btn-primary:hover{
	background-image: none;
	background-color: #000;
	color: #ed1c24;

}
.btn-secondary{
	background-color: #605f60;
	background-image: none;
	color: #dfdfdf;
}
.btn-secondary:hover{
	background-color: #dfdbdb;
	background-image: none;
	color: #000;
}
.btn-big{
	font-size: 46px;
	font-weight: 100;
	padding: 0px 15px 0px 15px!important;
	height: 63px;
}
.btn-lg{

}
.btn-sm{

}
.btn-xs{

}
.main-slogan .btn-big{
	padding-top: 11px!important;
	height: 63px;
	font-size: 28px;
	width: 100%;
}












