

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.special-deals{
	background-color: #dfdbdb;
	margin-top: 20px;
}
.special-deals .row{
	margin: 15px 0 0 0;
}
.special-deals .container .special-row{
	margin-left: -15px;
	margin-right: -15px
}
hr {
	margin-top: 0px;
	margin-bottom: 8px;
	border: 0;
	border-top: 1px solid #dfdbdb;
	}
.main-slogan p{
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
}
.points-icons{
	margin-top: 20px;
	margin-bottom: 20px;
}
.points-icons .col-md-2, .points-icons img{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.special-header{
	float: left;
}
.special-header h1, .special-header h2, .special-header h3{
	padding: 0 15px 0 0;
	margin: 0;
}
.special-header p{
	padding: 3px 0 0 0;
}
.special-deals .btn{
	float: right;
}
.special-row .img-responsive{
	width: 100%;
}
.special-row img{
	margin-bottom: 20px;
}

.form-control{
	height: 32px;
	border-radius: 0px;
}
.head-row p {
	font-size: 17px;
	font-weight: 100;
	line-height: 24px;
}

/* ================ LIST ITEMS VIEW  =================== */

.list-sort{
	padding-bottom: 2px;
}
.head-row .disp-icons{
	position: absolute;
	top: 0;
	right: 15px;
}
.disp-btn{
	display: inline;
}
.disp-btn .glyphicon{
	height: 40px;
	background-color: #605f60;
	font-size: 18px;
	padding: 11px 17px 0;
}
.disp-btn .glyphicon:hover{
		background-color: #9d9b9c;
}
.disp-btn a{
	color: #fff;
	}

.disp-icons .active{
	background-color: #ed1c24;
	}
.lab-where, .lab-type, .lab-price{
	float: left;
	padding-right: 20px;
}
.lab-notif, .lab-on-off{
	float: right;
	padding-left: 15px;
}
.share-block .inline h6{
		font-weight: 700;
		position: relative;
		top: -8px;
		right: 6px;
}
.lab-notif h5{
	text-align: right;
	font-size: 17px;
	padding: 0;
	margin: 0;
	font-weight: 400;
}
.lab-where p, .lab-type p, .lab-price p{
	font-size: 12px;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
.lab-notif p{
	text-align: right;
	font-size: 12px;
	font-weight: 300;
	margin: -4px 0 0 0;
	padding: 0;
}
.container .item-row{
	padding: 0;
	margin: 20px 0px 3px;
	background-color: #dfdbdb;
}
.items-list{
	padding-bottom: 25px;
}
.item-row{
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;

}
.company-bg, .gmap-bg{
	padding: 0;
	margin: 0;
}
.item-row .col-md-8, .item-row .col-md-2{
	padding: 0;
	margin: 0;

}
.location-row{
	padding: 0;
	margin: 0;
	z-index: 9;
	right: -20px;
}
.img-gmap{
	float: right;
	padding: 0;
	margin: 0;
	width: 50%;
}
.img-gmap img{
	position: relative;
	right: 10px;
}
.company-data{
	float: left;
	padding: 0;
	margin: 0;
	width: 50%;
	max-height: 1px;
}
.company-data .seller-info{
	font-size: 11px;
	font-weight: 100;
	color: #fff;
	position: absolute;
	bottom: 5px;
	padding-left: 15px;
}
.info-row{
	height: 12px;
	display: table-row;
}
.pic-slider{
	float: left;
	padding-right: 15px;
}
.details-item{
	padding: 7px 10px 8px 10px;
}
.details-item h4{
	font-size: 17px;
	color: #ed1c24;
	margin-bottom: 10px;
}
.details-item p{	
	padding: 10px 15px 5px 0;
	 display: block;
	 display: -webkit-box;
	 height: 5em;
	font-size: 13px;
	line-height: 1.4em;
	 -webkit-line-clamp: 2;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
	 text-overflow: ellipsis;
}
.view-item{
	position: absolute;
	right: -8px;
	bottom: 10px;
	}
.view-item .faworite-ico{
	font-size: 30px;
}
.faworite-ico .glyphicon-heart-empty, .faworite-ico .glyphicon-heart{
	color: #ed1c24;
	padding-right: 6px;
}
.faworite-ico{
	position: relative;
	bottom: -10px;
}
.location-line{
	font-size: 12px;
	line-height: 13px;
	line-height: normal;
}
.details-item .properties-box{
	position: absolute;
	z-index: 10;
	width: 61px;
	height: 71px;
	background: url("../img/properties-bg.png") no-repeat;
	background-position: 0px 0px;
	background-size: 61px 71px;
	top: 15px;
	right: -22px;
	padding: 7px 5px 5px;
	color: #fff;
}
.prop-num{
	float: left;
	padding-left: 4px;
}
.prop-ico{
	float: right;
	padding: 3px 9px 0 5px;
}
.guide-item{
	position: relative;
	top: 7px;
	text-transform: uppercase;
}
.guide-item .glyphicon, .location-line .glyphicon{
	color: #ed1c24;
}

.see-pro{
	float: right;
	padding-left: 15px;
	padding-top: 2px;	
	}
.share-block .inline{
	display: inline-block;
	}
.see-pro .btn{
	width: 180px;
	font-weight: 100;
	color: #fff;
	padding-top: 7px;
}
.see-pro a:hover{
	color: #000;
	font-weight: 400;
}
.share-block{
	position: absolute;
	right: 15px;
	top: 10px;
}
.sort-icons{
	position: relative;
	top: 3px;
	left: -10px;
}
.sort-btn .btn{
	padding: 4px 4px 6px;
}
.sort-btn .btn-secondary:hover{
	background-color: #ed1c24;
}

/* ============ ON/OFF checkbox style ==================== */


    .onoffswitch {
        position: relative; width: 68px;
        -webkit-user-select:none; 
        -moz-user-select:none; 
        -ms-user-select: none;
        }

    .onoffswitch-checkbox {
        display: none;
        }

    .onoffswitch-label {
        display: block; overflow: 
        hidden; cursor: pointer;
        border: 1px solid #dfdbdb; 
        border-radius: 20px;
        }

    .onoffswitch-inner {
        display: block; width: 200%; 
        margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s; 
        -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s; 
        transition: margin 0.3s ease-in 0s;
        }

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; 
        float: left; 
        width: 50%; 
        height: 30px; 
        padding: 0; 
        line-height: 30px;
        font-size: 12px; 
        font-family: "Asap", sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        }

    .onoffswitch-inner:before {
        content: "NO";
        padding-left: 9px;
        background-color: #dfdbdb;
        color: #000;
        }

    .onoffswitch-inner:after {
        content: "YES";
        padding-right: 9px;
        background-color: #dfdbdb; 
        color: #000;
        text-align: right;
    }

    .onoffswitch-switch {
        display: block; 
        width: 26px; 
        margin: 0px;
        background: #2db16d;
        border: 2px solid #2db16d; 
        border-radius: 20px;
        position: absolute; 
        top: 3px; 
        bottom: 0; 
        right: 38px;
        height: 26px;
        -moz-transition: all 0.3s ease-in 0s; 
        -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s; 
        transition: all 0.3s ease-in 0s; 
        background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
        background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
        background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
    .switch-labels{
        padding-left: 8px;
    }
    .switch .checkbox-inline{
    	margin-left: 0;
    	padding-left: 0;
    }
    .switch{
    	padding-top: 0px;
    	height: 40px;
    	margin-bottom: 0px;
    }
/* ================= END ON/OFF checkbox style ============= --/












