#content_1 .navbar{
	border:0;
	border-radius: 0;
	/* height: 739px; */
	background-color: #333;
	background: url("../img/home-bg-top.jpg") no-repeat top center;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}
#content_1 .navbar-collapse{
	margin-top: 25px;
}
.navbar-collapse{
	margin-top: 24px;
}
#content .navbar{
	border-bottom: solid 1px #b6b4b5;
	border-radius: 0;
	background-color: #dfdbdb;
	min-height: 150px;
	z-index: 1;
	}
.navbar-nav>li>a {
	font-family: 'Lato', sans-serif;
	text-shadow: none;
	background: rgb(237, 28, 36); /* The Fallback */
   	background: rgba(237, 28, 36, 0.8); 
	margin-left: 8px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
.sub-navbar>.navbar-nav>li>a{
	font-family: 'Lato', sans-serif;
	text-shadow: none;
	background: rgb(157, 155, 156); /* The Fallback */
   	background: rgba(157, 155, 156, 1);
   	margin-left: 8px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
	padding-top: 4px;
	padding-bottom: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sub-navbar>.navbar-nav>li>.active{
	background-color: #605f60;
}
.sub-navbar{
	margin-top: -35px;
}
.sub-navbar>.navbar-nav>li>a:hover{
	background-color: #eeeeee;
	color: #605f60;
	}
.navabar-sub{
	margin-right: 0px;
	}
.navbar-nav>.social>a{
	padding:0;
	margin:0 0 0 7px;
}
.navbar-nav>.fb-btn>a{
	margin-left: 22px;
	}
.navbar-nav>.social>a:hover{
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.navbar-nav>li>a:hover{
	background-color: #000; 
	color: #dfdbdb;
	}
.logo-sm img{
	margin-top: 15px;
	}

.logo img{
	margin-top: 22px;
	}
.bsl-navigation{
	background: rgb(255, 255, 255); /* The Fallback */
   	background: rgba(255, 255, 255, 0.9); 
	float: right;
	margin-top: 160px;
	margin-bottom: 40px;

	}
.bsl-navigation h4{
	font-size: 21px;
	font-weight: 300;
	color: #231f20;
	line-height: normal;
	padding: 15px 0;
}
.bsl-buttons{
	margin-top: 30px;
	text-align: right;
	margin-left: -15px;
	margin-right: 2px;
}
.bsl-buttons .btn-big{
	width: 31%;
	margin-left: 15px;
}