

/* ==========================================================================
   RESPONSIVE STYLE
   ========================================================================== */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#content_1 .bsl-navigation{
		margin-top: 72px;
	}
	#content_1 .navbar{
		max-height: 666px;
	}
	.container h1{
		font-size: 38px;
	}
	.bsl-navigation h4{
		font-size: 17px;
	}	
	.bsl-buttons .btn-big{
		font-size: 44px;
		width: 30%;
	}
	.bsl-buttons{
		text-align: center;
	}
	.properties-date h4{
		font-size: 18px;
		line-height: 21px;
	}
	.half-pie-chart .properties-date{
		background-position: 176px 0px;
		width: 100%;

	}
}
@media (max-width: 1199px) {
	.location-row{
		left: 0px;
		width: 100%;
   }
   .img-gmap img, .company-data img{
   		width: 100%;
   }
   .desc-row{
		width: 100%;
	}
	.img-gmap img{
	position: relative;
	right: 0px;
	}
	.view-item{
		right: 10px;
	}
	.details-item .properties-box{
		right: -3px;
	}
}

@media (max-width: 991px) {
	#content_1 .bsl-navigation{
		margin-top: 25px;
	}
	.logo a > img{
		width: 170px;
	}
	#content_1 .navbar{
		max-height: 555px;
	}
	.container h1{
		font-size: 38px;
	}
	.bsl-navigation h4{
		font-size: 17px;
	}	
	.bsl-buttons .btn-big{
		font-size: 44px;
		width: 30%;
	}
	.bsl-buttons{
		text-align: center;
	}
}
@media (max-width: 767px) {
	.container h1{
		font-size: 36px;
	}
	.bsl-navigation h4{
		font-size: 16px;
	}
	.details-item{
		float: left;
	}
	.pic-slider{
		width: 100%;
		padding-right: 0;
	}
	.pic-slider img{
		width: 100%;
		padding-right: 0;
	}
	.view-item{
		position: relative;
		right: 2px;
		bottom: 2px;
		float: right;
	}
	.guide-item {
		position: relative;
		top: 38px;
	}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
	.container h1{
		font-size: 32px;
	}
	.bsl-navigation h4{
		font-size: 14px;
	}
	.item-row .location-row .company-data .seller-info{
		position: relative;
		bottom: 70px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 639px) {
	.bsl-buttons{
		margin-top: 15px;
		margin-bottom: 5px;

	}
	.bsl-navigation{
		margin-bottom: 15px;
	}
	#content_1 .bsl-navigation{
		margin-top: 15px;
	}
	.logo a > img{
		width: 108px;
		margin-top: 12px;
	}
	.container h1{
		font-size: 26px;
	}
	.bsl-navigation h4{
		font-size: 14px;
		padding: 2px 0;
	}
	.bsl-buttons .btn-big {
		font-size: 30px;
		width: 29%;
	}
	.btn-big{
		height: 44px;
	}
	.main-slogan p{
		font-size: 15px;
		line-height: 20px;
	}
		.item-row .location-row .company-data .seller-info{
		position: relative;
		bottom: 70px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.bsl-buttons{
		margin-top: 15px;
		margin-bottom: 5px;
		text-align: center;
	}
	.bsl-navigation{
		margin-bottom: 15px;
	}
	#content_1 .bsl-navigation{
		margin-top: 15px;
	}
	.logo a > img{
		width: 90px;
		margin-top: 10px;
	}
	.bsl-navigation h1{
		font-size: 16px;
	}
	.container h1{
		font-size: 22px;
	}
	.bsl-navigation h4{
		font-size: 12px;
		padding: 2px 0;
	}
	.bsl-buttons .btn-big {
		font-size: 26px;
		width: 29%;
		margin-left: 12px;
	}
	.btn-big{
		height: 38px;
		padding: 0px 10px 0px 10px!important;
	}
	.main-slogan p{
		font-size: 15px;
		line-height: 20px;
	}
	.item-row .location-row .company-data .seller-info{
		position: relative;
		bottom: 70px;
	}
}
@media only screen and (max-device-width: 420px) and (min-device-width: 320px){
	.bsl-buttons{
		margin-top: 15px;
		margin-bottom: 5px;
		text-align: center;

	}
	.bsl-navigation{
		margin-bottom: 12px;
	}
	#content_1 .bsl-navigation{
		margin-top: 7px;
	}
	.logo a > img{
		width: 80px;
		margin-top: 7px;
	}
	.bsl-navigation h1{
		font-size: 14px;
		margin-top: 12px;
	}
	.bsl-navigation h4{
		font-size: 12px;
		padding: 0;
	}
	.bsl-buttons .btn-big {
		font-size: 20px;
		width: 28%;
		margin-left: 10px;
	}
	.btn-big{
		height: 30px;
		padding: 0px 8px 0px 8px!important;
	}	
	
}















