

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
	background-color: #fff;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
.container h1{
	font-weight: 300;
	font-size: 48px;
}
h2{
	font-weight: 300;
	font-size: 34px;
}
.head-row h2{
	margin: 5px 0 12px 0;
}
h3{
	color: #ed1c24;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}













